services:
  livox-driver:
    build:
      context: ..  # edit context dir as project root
      dockerfile: on_g1/Dockerfile
    image: livox-ros-driver:latest
    container_name: on-g1
    network_mode: host
    privileged: true
    volumes:
      - /dev:/dev
      - ./config:/catkin_ws/src/livox_ros_driver2/config:rw
      # - ./launch:/catkin_ws/src/livox_ros_driver2/launch
      - ../onboard:/catkin_ws/deploy_onboard:rw
      - ../onboard/launch:/catkin_ws/src/FAST_LIO_LOCALIZATION/launch
      - ../onboard/misc:/catkin_ws/src/FAST_LIO_LOCALIZATION/config/
      - ../onboard/read_pcd_publish.py:/catkin_ws/src/FAST_LIO_LOCALIZATION/scripts/read_pcd_publish.py
    environment:
      - ROS_MASTER_URI=http://localhost:11311
      - ROS_IP=127.0.0.1
      - DISPLAY=${DISPLAY:-:0}
    stdin_open: true
    tty: true
    command: bash